<header class="d-flex">
  <div class="mx-auto my-auto">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p class="text-center"><img src="/assets/logo.png"></p>
          <p class="my-3 text-white h3"><b>Bienvenido</b> alumno</p>
          <p><input type="text" placeholder="Nombre de usuario"></p>
          <p><input type="password" placeholder="Contraseña"></p>
          <p class="my-2"><button>Iniciar sesión</button></p>
          <p>¿Tenes problemas para iniciar sesión? <a href="https://wa.me/541138459621" class="text-white">Contacanos</a></p>
        </div>
      </div>
    </div>
  </div>
</header>